<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
			MENU
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a href="#">
                <img id="tower-logo-dashboard" src="/assets/img/tower.png" />
            </a>
			<a class="navbar-brand" href="#">
				&nbsp;Tower
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <select class="form-control navbar-form" id="api-selector">
                <option>API 1</option>
                <option>API 2</option>
                <option>API 3</option>
                <option>API 4</option>
            </select>

			<form class="navbar-form navbar-left" method="GET" role="search" id="search-bar">
				<div class="form-group" style="width: 80%;">
					<input type="text" name="q" class="form-control" placeholder="Search" style="width: 100%;">
				</div>
				<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://mertyildiran.com/" target="_blank">Visit Site</a></li>
				<li class="dropdown ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						{{currentUser.firstName}} {{currentUser.lastName}}
						<span class="caret"></span>
                    </a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">SETTINGS</li>
						<li class=""><a href="#">Other Link</a></li>
						<li class=""><a href="#">Other Link</a></li>
						<li class=""><a href="#">Other Link</a></li>
						<li class="divider"></li>
						<li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
