<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://github.com/mertyildiran/Tower" target="_top">Fork this repository on GitHub</a>
    </p>
    <p>
        <a href="http://mertyildiran.com/" target="_top">mertyildiran.com</a>
    </p>
</div>
