<app-navbar></app-navbar>
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar" style="height: 100%">
        <div class="row" style="height: 100%">
        	<!-- uncomment code for absolute positioning tweek see top comment in css -->
        	<div class="absolute-wrapper"> </div>
        	<!-- Menu -->
        	<div class="side-menu">
        		<nav class="navbar navbar-default" role="navigation">
        			<!-- Main Menu -->
        			<div class="side-menu-container">
        				<ul class="nav navbar-nav">
        					<li><a [routerLink]="['/']"><span class="glyphicon glyphicon-dashboard"></span> Overview</a></li>
        					<li><a [routerLink]="['/performance']"><span class="glyphicon glyphicon-tasks"></span> Performance</a></li>
        					<li class="active"><a [routerLink]="['/latency']"><span class="glyphicon glyphicon-signal"></span> Latency</a></li>
                            <li><a [routerLink]="['/errors']"><span class="glyphicon glyphicon-fire"></span> Errors</a></li>

        					<!-- Dropdown-->
        					<li class="panel panel-default" id="dropdown">
        						<a data-toggle="collapse" href="#dropdown-lvl1">
        							<span class="glyphicon glyphicon-leaf"></span> Composition <span class="caret"></span>
        						</a>

        						<!-- Dropdown level 1 -->
        						<div id="dropdown-lvl1" class="panel-collapse collapse">
        							<div class="panel-body">
        								<ul class="nav navbar-nav">
        									<li><a href="#">Link</a></li>
        									<li><a href="#">Link</a></li>
        									<li><a href="#">Link</a></li>

        									<!-- Dropdown level 2 -->
        									<li class="panel panel-default" id="dropdown">
        										<a data-toggle="collapse" href="#dropdown-lvl2">
        											<span class="glyphicon glyphicon-arrow-down"></span> Sub Level <span class="caret"></span>
        										</a>
        										<div id="dropdown-lvl2" class="panel-collapse collapse">
        											<div class="panel-body">
        												<ul class="nav navbar-nav">
        													<li><a href="#">Link</a></li>
        													<li><a href="#">Link</a></li>
        													<li><a href="#">Link</a></li>
        												</ul>
        											</div>
        										</div>
        									</li>
        								</ul>
        							</div>
        						</div>
        					</li>

        					<li><a [routerLink]="['/custom']"><span class="glyphicon glyphicon-th"></span> Custom</a></li>

        				</ul>
        			</div><!-- /.navbar-collapse -->
        		</nav>

        	</div>
        </div>
    </div>

    <div class="col-md-10 content" style="margin-top: 10px;">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Panel1
                </div>
            	<div class="panel-body" style="height:250px;">
            	</div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Panel2
                </div>
            	<div class="panel-body" style="height:250px;">
            	</div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Panel3
                </div>
            	<div class="panel-body" style="height:200px;">
            	</div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Panel4
                </div>
            	<div class="panel-body" style="height:200px;">
            	</div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Panel5
                </div>
            	<div class="panel-body" style="height:200px;">
            	</div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Panel6
                </div>
            	<div class="panel-body" style="height:250px;">
            	</div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Panel7
                </div>
            	<div class="panel-body" style="height:250px;">
            	</div>
            </div>
        </div>


    </div>

</div>
