/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

#tower-logo-wrapper {
    text-align: center;
}

#tower-logo {
    width: 75%;
}

#tower-logo-dashboard {
    height: 50px;
    float: left;
}

.main-container {
    height: calc(100vh - 52px);
}

.navbar {
    height: 52px;
    margin-bottom: 0px;
}

#search-bar {
    width: 40%;
    left: 17.2vw;
    position: absolute;
}

.alert {
    margin-bottom: 0px;
}

#api-selector {
    float: left;
    width: 100px;
}
